:root {
  padding: 0;
  margin: 0;
  --height: 30;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barsContainer {
  height: 60vh;
  width: 70vw;
  background-color: #cccccc73;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}



.bar {
  width: 30px;
  height: calc(var(--height) * 1vw);
  background-image: linear-gradient(to right, #1b29cade, #08963485);
  transition: height 1s;
}

.bar[data-time="older"] {
  background-image: linear-gradient(to right, #4e4e4ede, #afcab885);
}