:root {
  padding: 0;
  margin: 0;
  --height: 30;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.barsContainer {
  height: 60vh;
  width: 70vw;
  background-color: #cccccc73;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  justify-content: flex-end;
}



.bar {
  /* width: 30px; */
  height: calc(var(--height) * 1vw);
  background-image: linear-gradient(to right, #1b29cade, #2b317c85);
  transition: all 1s;
  align-items: center;
  opacity: 0;
  width: 40px;
  animation: enter 1s linear forwards 1;
}

.bar[data-position="older"] {
  background-image: linear-gradient(to right, #4e4e4ede, #afcab885);
}

.bar[data-position="highest"] {
  background-image: linear-gradient(to right, #d40303de, #d403038f);
}

.bar[data-position="lowest"] {
  background-image: linear-gradient(to right, #006609de, #0066097c);
}


@keyframes enter {


  100% {
    opacity: 1;
    transform: translateX(0);

  }
}

.modal {
  display: none;
}

.modal[data-show="true"] {
  display: block;
  font-size: 1rem;
  writing-mode: vertical-rl;
  margin: 1vw 0;
  color: white;
}